.input-username {
  max-width: 300px;
  margin: 20px auto;
  font-size: 16px;
}

.input-restaurant-name {
  max-width: 300px;
}

.input-restaurant-price {
  max-width: 100px;
}

.restaurant-dialog-conditions {
  margin: 20px auto;
}
.information-panel {
  margin-bottom: 50px;
}

.restaurant-item {
  text-align: left;
}

.number-between-buttons {
  padding: 0 10px;
}

.btn-back {
  position: absolute;
  height: 39px;
  right: 0;
  top: 0;
  border-radius: 0;

  .fa-angle-right {
    padding-left: 10px;
  }

  .fa-angle-left {
    padding-right: 10px;
  }
}

.btn-trade-request {
  position: absolute;
  right: 0;
  border-radius: 0;
  top: 50px;
}

.btn[disabled] {
  opacity: 1;
}

.meal-price-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.restaurant-profit-table {
  > tfoot {
    > tr {
      > td {
        border-top: 1px double #aaa;
      }
    }
  }
}