<a href="#/playergame" class="btn btn-success btn-back"><i class="fa fa-angle-left"></i> back</a>

<h4>Please answer the offers below: </h4>
<div class="list-group restaurant-list">
    <a ng-repeat="offer in offers" class="list-group-item restaurant-item" ng-click="">
        <div class="offer">
            <div>
                <button class="btn btn-success" ng-click="acceptOffer(offer)">Accept</button>
                <button class="btn btn-danger" ng-click="declineOffer(offer)">Decline</button>
            <span class="pull-right">
                <strong>Income: {{ offer.price }}</strong>
            </span>
            </div>
        </div>
    </a>
</div>

