<h3>Create Game <small>{{inputData.gameName}}</small></h3>
<h4 class="row-buffer">Creating a new Game</h4>
<form name="createNewGameForm">
  <div class="row row-buffer">
    <div class="col-md-4">
      <div class="form-group form-group-sm">
        <label for="gameName">Name: </label>
        <input type="text" class="form-control input-sm" id="gameName" name="uGameName" ng-model="inputData.gameName" required="">
      </div>
    </div>
    <div class="col-md-4">
      <p><b>Slots</b></p>
      <p>Set the number of player slots</p>
      <button class="btn btn-default" ng-click="increasePlayerMax(1)"><span class="fa fa-plus"></span></button>
      <b class="number-between-buttons">{{inputData.playerMax}}</b>
      <button class="btn btn-default" ng-click="increasePlayerMax(-1)"><span class="fa fa-minus"></span></button>
    </div>
  </div>
  <div class="row row-buffer">
    <div class="col-md-8">
      <div class="text-right">
        <button class="btn btn-success" ng-click="createGame()" ng-disabled="createNewGameForm.$invalid">Create Game</button>
      </div>
    </div>
  </div>
</form>
