<a href="#/restaurant" class="btn btn-success btn-back" ng-disabled="!restaurantButtonDisabled">My Restaurant</a>

<div class="playergame-section">
    <div class="information-panel">
        <h3>Buyer value: {{ buyerValue }} $</h3>
    </div>

    <h3>Choose a restaurant to eat:</h3>
    <div class="list-group restaurant-list">
        <li ng-hide="currentOpenRestaurants.length">There are no open restaurants yet.</li>
        <a ng-repeat="restaurant in currentOpenRestaurants" class="list-group-item restaurant-item">
            <div class="restaurant">
                <span class="title"><strong>{{ restaurant.title }}</strong></span>
                <span class="badge price pull-right">{{ restaurant.currentPrice }} €</span>
            </div>
        </a>
    </div>
</div>