<a href="#/restaurant" class="btn btn-success btn-back" ng-hide="!restaurantButtonDisabled">My Restaurant <i class="fa fa-angle-right"></i>
</a>

<a href="#/trading" ng-hide="!restaurantButtonDisabled" class="btn btn-danger btn-trade-request">Trade requests <i class="fa fa-angle-right"></i></a>

<div class="playergame-section">
    <div class="information-panel">
        <h3>Buyer value: {{ buyerValue }} $</h3>
    </div>

    <h3>Choose a restaurant to eat:</h3>
    <div class="list-group restaurant-list">
        <li ng-hide="currentOpenRestaurants.length">There are no open restaurants yet.</li>
        <a ng-repeat="restaurant in currentOpenRestaurants" class="list-group-item restaurant-item" ng-click="startTrading(restaurant)">
            <div class="restaurant">
                <span class="title"><strong>{{ restaurant.name }}</strong></span>
                <span class="badge price pull-right">{{ restaurant.offer.price }} €</span>
            </div>
        </a>
    </div>
</div>