<p><strong>My Restaurant:</strong></p>
<table class="table">

</table>
<p>Current advertised price per meal:</p>
<div>
    <button class="btn btn-default" ng-click=""><span class="fa fa-plus"></span></button>
    <b class="number-between-buttons">15</b>
    <button class="btn btn-default" ng-click=""><span class="fa fa-minus"></span></button>
</div>

<table class="table">
    <thead>
        <tr>
            <td>#</td>
            <td>Price</td>
            <td>User payed</td>
            <td>Profit</td>
        </tr>
    </thead>
    <tbody>
        <tr>

        </tr>
    </tbody>
</table>
